#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

application:
	mapping:
		*: Palette\DemoApp\*Module\Presenters\*Presenter

extensions:
    palette: Pavlista\NettePalette\DI\PaletteExtension

palette:
    websiteUrl: 'http://127.0.0.1'
    path: %paletteThumbsDir%
    url: %paletteThumbsUrl%
    basePath: '/var/www/html/demo/www/images/'
    signingKey: 'HOfU2RTxbimmaYmAnrQ1'

#palette2:
#    websiteUrl: 'http://web.cz/thumbs/'
#    path: '/var/www/html/thumbs'
#    urlPatter: 'basepath/template'
#    basepath:
#        "_" : ''
#        images: '/var/www/html'
#        template: '/var/www/malas'
#    template:
#        avatar: '100;100&Grayscale'


session:
	expiration: 14 days

services:
	router: Palette\DemoApp\RouterFactory::createRouter
